.content {
	display: flex;
	height: calc(100vh - 50px);
	margin-top: 30px;
	justify-content: space-evenly;
}

.content .image-product {
	display: flex;
	width: 50%;
	height: 50%;
}

.content .image-product .main-image {
	width: 100%;
	border-bottom: 1px solid black;
	overflow-x: hidden;
	position: relative;
}

.content .image-product .main-image .image-content {
	height: 100%;
	display: flex;
	width: auto;
	position: absolute;
	left: 0;
}

.content .image-product .main-image .image-content img {
	height: 100%;
}

.content .image-product .thumb-image {
	width: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-height: 550px;
}

.content .image-product .thumb-image span {
	position: relative;
}

.content .image-product .thumb-image img {
	height: 100px;
	opacity: 0.2;
}

.content .image-product .thumb-image img:hover {
	opacity: 1;
	cursor: pointer;
}

.content .image-product .thumb-image a {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgb(221, 221, 221);
	display: none;
	opacity: 0.2;
}

.content .image-product .thumb-image img:hover hover {
	cursor: pointer;
}

.content .image-product .thumb-image img:hover a {
	display: block;
}

.content .info-product {
	width: 40%;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.content .info-product h1 {
	margin-bottom: 1.5rem;
}

.content .info-product .harga {
	color: red;
	margin-bottom: 1.5rem;
}

.content .info-product p:nth-child(4) {
	margin-bottom: 2rem;
	font-size: 1.2em;
}

.content .info-product p:nth-child(6) {
	font-size: 1.2em;
}
