* {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	height: 100vh;
}

.container .sidebar {
	width: 200px;
	background-color: aquamarine;
}

.container .main {
	background-color: aqua;
	width: 100%;
}

.container .top-nav {
	background-color: antiquewhite;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.container .top-nav .menu-toggle {
	/* background-color: rgb(0, 255, 106); */
	position: relative;
	width: 30px;
	height: 28px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 20px;
	display: none;
}

.container .top-nav .menu-toggle input {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 30px;
	height: 30px;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
}

.container .top-nav .menu-toggle span {
	height: 3px;
	width: 28px;
	background-color: black;
	border-radius: 1px;
	transition: all 0.5s;
}

.container .main .content table {
	background-color: #fff;
}

.container .main .content table .aksi {
	display: flex;
}

.container .main .content table .aksi a {
	text-decoration: none;
	margin-right: 5px;
}

.btn {
	border-radius: 5px;
	color: #fff;
	text-align: center;
	padding: 2px 5px;
}

.btn-detail {
	background-color: rgb(38, 116, 180);
}

.btn-delete {
	background-color: rgb(207, 34, 28);
}

.btn-update {
	background-color: rgb(207, 165, 28);
}

.container .top-nav .menu-toggle span:nth-child(2) {
	transform-origin: 0 0;
}

.container .top-nav .menu-toggle span:nth-child(4) {
	transform-origin: 0 100%;
}

.container .top-nav .menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(5px, 0px);
}

.container .top-nav .menu-toggle input:checked ~ span:nth-child(3) {
	transform: translateX(-200px);
	opacity: 0;
}

.container .top-nav .menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg) translate(4px, 0px);
}

.container .main .top-nav .user-info {
	height: 60px;
	/* width: 300px; */
	display: flex;
	/* background-color: aliceblue; */
	align-items: center;
	justify-content: space-between;
}

.container .main .top-nav .user-info .name {
	margin-right: 20px;
}

.container .top-nav img {
	width: 40px;
	height: 40px;
	margin-right: 20px;
}

@media screen and (max-width: 768px) {
	.container .sidebar {
		width: 0px;
	}

	.container .main .top-nav {
		justify-content: space-between;
	}

	.container .main .top-nav .menu-toggle {
		display: flex;
	}
}

@media screen and (max-width: 576px) {
}
