* {
	margin: 0;
	padding: 0;
	font-family: "Courier New", Courier, monospace;
	/* border: 1px solid black; */
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

.container {
	width: 100%;
	height: auto;
}

.content .hero-image {
	margin-bottom: 3rem;
}

.container .content .hero-image .hero {
	width: 100%;
	height: auto;
}

.content .hero-image img {
	height: 50rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content .sepatu {
	display: flex;
	flex-direction: column;
	height: auto;
	margin-bottom: 3rem;
	margin-top: 3rem;
}

.content .sepatu .type-sepatu {
	height: 300px;
	clear: both;
	overflow: hidden;
	padding-left: 10%;
	padding-right: 10%;
}

.content .sepatu .type-sepatu .type {
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 1rem;
}

/* show & list WEB */

.content .sepatu .type-sepatu .show {
	display: flex;
	justify-content: center;
}

.content .sepatu .type-sepatu .list-sepatu {
	/* width: auto; */
	overflow-x: auto;
	display: flex;
	position: relative;
}

/* akhir */

.content .sepatu .type-sepatu .pref,
.content .sepatu .type-sepatu .next {
	display: none;
	cursor: pointer;
}

.content .sepatu .type-sepatu .list-sepatu::-webkit-scrollbar {
	background-color: transparent;
	width: 5px;
}

.content .sepatu .type-sepatu .list-sepatu::-moz-scrollbar {
	background-color: transparent;
	width: 5px;
}

.content .sepatu .type-sepatu .list-sepatu .item {
	height: 230px;
	width: 250px;
	float: left;
	border: 1px solid black;
	border-radius: 5px;
	margin-right: 2rem;
	position: relative;
}

.content .sepatu .type-sepatu .list-sepatu .item img {
	height: 190px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content .sepatu .type-sepatu .list-sepatu .item:hover {
	cursor: pointer;
}

.content .sepatu .type-sepatu .list-sepatu .item:hover a {
	display: block;
}

.content .sepatu .type-sepatu .list-sepatu .item a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 190px;
	background-color: rgb(179, 179, 179);
	opacity: 0.2;
	display: none;
}

.content .sepatu .type-sepatu .list-sepatu .left-arrow {
	float: left;
}

.content .sepatu .type-sepatu .list-sepatu .left-right {
	float: right;
	color: red;
	background-color: aqua;
}

.content .sepatu .type-sepatu .list-sepatu .left-arrow {
	position: absolute;
	top: -20%;
	left: 0;
	background-color: red;
}

.spesifikasi {
	clear: both;
}

.spesifikasi .row {
	display: flex;
	justify-content: space-evenly;
}

.spesifikasi .item-spec {
	width: 200px;
	/* margin-left: 2rem;
	margin-bottom: 2rem;
	float: left; */
}

.spesifikasi .item-spec h3 {
	text-align: center;
}

#size-chart {
	clear: both;
}

.size-chart img {
	width: 50vw;
	margin: 0 25vw;
}

.content .related-product {
	width: 100%;
	height: 230px;
}

.about {
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.about h1 {
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.container .content .hero-image img {
		height: auto;
		width: 100%;
	}
}

@media screen and (max-width: 650px) {
	.content .sepatu .type-sepatu .list-sepatu {
		margin-left: 0;
	}

	.content .sepatu .type-sepatu .list-sepatu .item {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.container .nav {
		display: none;
	}

	.container .top-nav .bars {
		display: block;
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}

	.spesifikasi .item-spec {
		width: 100%;
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.content .sepatu .type-sepatu {
		position: relative;
		padding: 0;
		width: 100%;
	}

	.content .sepatu .type-sepatu .show {
		display: flex;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		width: 200px;
		height: 230px;
		overflow-x: hidden;
	}

	.content .sepatu .type-sepatu .list-sepatu {
		display: flex;
		position: absolute;
		left: 0;
		margin: 0;
	}

	.content .sepatu .type-sepatu .list-sepatu .item {
		margin: 0;
		position: static;
		width: 200px;
		box-sizing: border-box;
	}

	.content .sepatu .type-sepatu .list-sepatu .item img {
		width: 198px;
	}

	.content .sepatu .type .list-sepatu .item p {
		text-align: center;
	}

	.content .sepatu .type-sepatu .pref {
		position: absolute;
		top: 50%;
		left: 8%;
		width: 20px;
		height: 20px;
		display: block;
	}

	.content .sepatu .type-sepatu .pref i {
		font-size: 30px;
	}

	.content .sepatu .type-sepatu .next {
		position: absolute;
		top: 50%;
		right: 10%;
		width: 20px;
		height: 20px;
		display: block;
	}

	.content .sepatu .type-sepatu .next i {
		font-size: 30px;
	}

	.spesifikasi .row {
		flex-direction: column;
	}

	.spesifikasi .row .item-spec {
		width: 90%;
		margin: 0 5% 1rem 5%;
	}

	.size-chart img {
		width: 100vw;
		margin: 0;
	}

	.about {
		width: 90%;
		margin-left: 5%;
	}
}
