* {
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(16, 40, 92);
}

.container {
	position: relative;
}

.container .form-login {
	display: flex;
	width: 60%;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	padding: 30px 0px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
}

.container form h1 {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.container form .form-grup {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.container form input {
	height: 2.5rem;
	padding-left: 10px;
	border-radius: 1.2rem;
	border: 1px solid rgb(170, 170, 170);
	outline: none;
}

.container form button {
	width: 100px;
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	background-color: aqua;
	border: 1px solid aqua;
	border-radius: 1rem;
	color: #fff;
	outline: none;
}

.container form button:hover {
	background-color: #fff;
	border: 1px solid black;
	color: #000;
}

.container form a {
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	margin-bottom: 10px;
}

#form-forget-password {
	position: fixed;
	width: 400px;
	height: 200px;
	background-color: #fff;
	top: 0;
	left: 35vw;
	margin: 0 auto;
	border: 1px solid black;
	display: none;
	opacity: 1;
}

#form-forget-password .form-grup {
	margin: 20px auto 0 auto;
}

#form-forget-password button {
	margin: 40px auto 0 35%;
}

#form-forget-password span {
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	background-color: red;
}

#form-forget-password span:hover {
	cursor: pointer;
}

#form-forget-password span p {
	text-align: center;
	line-height: 20px;
}

.color-red {
	color: red;
}

.alert-success {
	width: 80%;
	background-color: rgb(171, 211, 152);
	color: rgb(81, 182, 55);
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.alert-danger {
	width: 80%;
	background-color: rgba(218, 47, 4, 0.5);
	color: rgb(218, 40, 28);
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	.container .form-login {
		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	.container .form-login {
		width: 90%;
	}

	.container form {
		width: 90vw;
	}

	#form-forget-password {
		left: 0;
		width: 96%;
		margin-left: 2%;
		margin-top: 30%;
	}
}
